.navbar {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
}

.links a {
  margin: 0px auto;
  padding: 20px;
  font-weight: 600;
  color: #757575;
}

.nav-btn {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  color: #FFFFFF;
}

.nav-btn:hover {
    color: #FFFFFF;
    background: #717171;
}
